<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Add A New Client For Your List</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label for="FirstnameInputRef">First Name</label>
                  <input type="text" class="form-control" placeholder="enter first name.." #FirstnameInputRef>
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label for="LastnameInputRef">Last Name</label>
                  <input type="text" class="form-control" placeholder="enter instrument.." #LastnameInputRef>
                </div>
              </div>

            </div>
           <div class="row">
            
              <div class="col-md-3 pr-2 text-center">
  
                  <button _ngcontent-c6="" class="btn btn-primary btn-block" (click)="pushClient()" >Submit</button>

              </div>
                </div>