
.spans_for_adding_data:hover{
background-color: #ebecf0;
cursor: pointer;
padding: 2px;
}


/*//modify the accordion for the phases
/deep/ #ngb-panel-0-header,/deep/#ngb-panel-0,
/deep/ #ngb-panel-1-header,/deep/#ngb-panel-1 ,
/deep/ #ngb-panel-2-header,/deep/#ngb-panel-2 ,
/deep/ #ngb-panel-3-header,/deep/#ngb-panel-3 ,
/deep/ #ngb-panel-4-header,/deep/#ngb-panel-4  {
    background-color: honeydew;
  }*/


  